/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #0678be;
  --ifm-color-primary-dark: #066caa;
  --ifm-color-primary-darker: #05639d;
  --ifm-color-primary-darkest: #045080;
  --ifm-color-primary-light: #1687cb;
  --ifm-color-primary-lighter: #3097d4;
  --ifm-color-primary-lightest: #5cb1e0;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

[data-theme="dark"] {
  --ifm-color-primary: #5cb1e0;
  --ifm-color-primary-dark: #48a5db;
  --ifm-color-primary-darker: #3d9fd7;
  --ifm-color-primary-darkest: #2d94d1;
  --ifm-color-primary-light: #7ac1e8;
  --ifm-color-primary-lighter: #9bd2ee;
  --ifm-color-primary-lightest: #bce3f4;
  --docusaurus-highlighted-code-line-bg: rgba(255, 255, 255, 0.1);
}

.carbon-ads {
  min-height: 102px;
  margin-top: 1.5rem;
  font-size: 0.75rem;
  line-height: 1.4;
  text-align: left;
}

.carbon-ads a {
  color: var(--ifm-toc-link-color);
  font-weight: 400;
  display: inline;
}

.carbon-ads .carbon-img {
  float: left;
  margin-right: 1rem;
  border: 1px solid var(--ifm-toc-border-color);
}

.carbon-ads .carbon-img img {
  display: block;
}

.carbon-ads .carbon-poweredby {
  color: #999;
  display: block;
  margin-top: 0.5em;
}

@media (max-width: 719px) {
  .carbon-ads .carbon-img img {
    width: 100px;
    height: 77px;
  }
}
